.login-page{

display:flex;

height:100vh;

}

.login-left{

flex:1;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

padding:60px;

}

.login-logo{

font-size:90px;

margin-bottom:20px;

color:#3b82f6;

}

.login-subtitle{

font-size:18px;

color:#d1d5db;

margin-top:10px;

}

.login-right{

flex:1;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}

.login-card{

width:420px;

padding:20px;

}

.ant-input,
.ant-input-password{

background:rgba(255,255,255,.04);

color:white;

}

.ant-input::placeholder{

color:#9ca3af;

}

.ant-card{

background:rgba(255,255,255,.05);

}

@media(max-width:900px){

.login-page{

flex-direction:column;

}

.login-left{

height:250px;

}

.login-card{

width:100%;

}

}