.splash{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

}

.logo{

font-size:80px;

margin-bottom:20px;

animation:float 2s infinite;

}

h1{

font-size:48px;

margin:0;

}

p{

opacity:.8;

margin-bottom:30px;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0);

}

}